// Color Palette
$blue: #172f49;
$beige: #c6c989;
$darkblue: #040f1c;
$darkpurple: #211e23;
$white: #fff;
$black: #000;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);